main {
  width: 20rem;
  display: grid;
  gap: 2.5rem;

  & .sort {
    gap: 2px;

    & h2 {
      font: var(--label-lg);
      color: var(--content-primary);
      text-transform: uppercase;
    }

    & p {
      font: var(--p-md);
      color: var(--content-tertiary);
    }
  }

  & form {
    transition: all 0.5s ease-in-out;

    & .flex {
      gap: 0.75rem;
      border: none;
      margin-bottom: 1.25rem;

      & .input-wrapper {
        gap: 0.5rem;

        & label {
          text-align: center;
          font: var(--label-md);
          color: var(--content-secondary);
        }

        
        & input {
          background-color: var(--background-secondary);
          border-radius: 0.5rem;
          border: none;

          padding: 0.25rem 0.5rem;
          
          height: 3.5rem;
          width: 5.375rem;
          
          font: var(--display-sm);
          color: var(--content-primary);
          text-align: center;
          
          &:hover {
            background-color: var(--background-tertiary);
            outline: 1px solid var(--content-brand);
          }

          &:focus {
            background-color: var(--background-tertiary);
            outline: 3px solid var(--content-brand);
          }
        }
      }
    }
  }
  
  & .toggle {
    border: none;
    margin-bottom: 2.5rem;
    
    & .select-wrapper {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      
      & label.switch {
        position: relative;
        display: inline-block;
        width: 1.875rem;
        height: 1.25rem;
        border-radius: 1rem;
        background-color: var(--content-tertiary);
      }
      
      & .switch input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        z-index: -1;
      }

      & span {
        display: block;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.4s;
        border-radius: 1rem;
      }

      & span::before {
        display: block;
        position: absolute;
        content: "";
        height: 0.875rem;
        width: 0.875rem;
        left: 2px;
        bottom: 3px;
        background-color: var(--content-primary);
        transition: 0.4s;
        border-radius: 1rem;
      }
      
      & input:checked+span {
        background-color: var(--content-brand);
        display: inline-block;
        width: 1.875rem;
        height: 1.25rem;
        border-radius: 1rem;
      }
      
      & input:checked+span::before {
        transform: translateX(12px);
      }
      
      & label {
        font-family: "Inter", sans-serif;
        font-size: 0.75rem;
        line-height: 150%;
        color: var(--content-primary);
      }
    }
  }
  
  & button {
    background-color: var(--background-tertiary);
    padding: 1rem;
    
    position: relative;
    
    display: flex;
    align-items: center;
    
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    
    border-radius: 0.5rem;
    
    font: var(--label-md);
    color: var(--content-primary);
    cursor: pointer;

    transition: all .5s linear;
    
    & svg {
      transition: all 0.5s ease-in-out;
    }
    
    &:hover {
      background-color: var(--background-secondary);
      
      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        
        background: linear-gradient(var(--gradient-color));
        
        border-radius: 0.5rem;
        background-size: 300% 300%;
        
        transition: animation 0.5s ease-in-out;
        
        animation: bgMove 8s linear alternate infinite;
        
        filter: blur(3px);
      }
      
      & svg#icon-1 {
        animation: move 0.9s ease-in-out infinite;
      }
    }
  }
}

#drawn-again {
  &:hover {
    & svg#repeat {
    animation: rotate 1s ease-in-out infinite;
  }
}
}

.border-active {
 position: absolute;
 z-index: -1;

 width: 5.45rem;
 height: 3.5rem;

 border-radius: 0.5rem;

 transition: animation 0.5s ease-in-out;

 animation: bgMove 8s ease-in-out alternate infinite;

 transform: translateY(72%) translateX(-1%);
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;

  transition: all 1s ease-in-out;

  & .box {
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    min-width: 5.25rem;
    max-width: max-content;
    height: 5.25rem;

    border-radius: 28px;
    background-color: var(--content-brand);

    text-align: center;
    margin-bottom: 2.5rem;

    transform: rotate(45deg);

    transition: all 1s ease-in-out;
  }

  & p {
    font: 700 2rem/1.5 var(--roboto-m);
    color: black;
    opacity: 0;
    transition: all 1s ease-in-out;
  }
}

.animate-box {
  opacity: 0;
  animation: boxMove 1s ease-in-out both;
  transition: all 1s ease-in-out;
}

.move-number {
  animation: moveNumber 1s ease-in-out both;
  transition: all 1s ease-in-out;
  color: var(--content-brand);
}

@media (width >=64em) {
  main {
    width: 30.125rem;

    & .sort {
      & p {
        font: var(--p-md);
        color: var(--content-secondary);
      }
    }
  }
}

@keyframes move {
  50% {
    transform: translateX(10px);
  }
}

@keyframes bgMove {
  0% {
    background-size: 0% 0%;
  }

  100% {
    background-size: 300% 300%;
  }
}

@keyframes boxMove {
  0% {
    opacity: 0;
    transform: rotate(45deg) scale(0);
  }

  100% {
    opacity: 1;
    transform: rotate(405deg) scale(1.2);
  }
}

@keyframes moveNumber {
  0% {
    color: var(--background-primary);
    opacity: 0;
    transform: translateY(200%);
  }

  50% {
    opacity: 0;
    transform: translateY(100%);
  }

  75% {
    opacity: 0;
    transform: rotate(-45deg) translateY(50%);
  }

  100% {
    opacity: 1;
    transform: rotate(-45deg) translateY(0%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}